body {
	min-width: 700px;
	width: 70%;
	margin: 20px auto 0px auto;
	padding: 20px 20px 0px 20px;
	border: 20px solid white /*#BDC3C7*/;
	border-bottom: 0px;
}
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.hrNone {
	background-image: none;
}

.navbar {
	overflow: hidden;
	background-color: rgba(59, 89, 152, 0.9);
	position: fixed;
	top: 0;
	min-width: inherit;
	width: inherit;
}
.navbar a {
	float: left;
	text-align: center;
	text-decoration: none;
	padding: 18px 18px;
	color: white;
}
.navbar a:hover {
	background-color: rgb(232, 74, 39);
}

.post {
	margin-bottom: 20px;
}

.titleImage {
	height: 40px;
	width: auto;
	float: right;
	margin: 0 2px;
}

.previousExperience {
	list-style: none;
}
.experienceTime {
	float: right;
}
.position {
	padding-left: 0;
}

#address {
	margin-left: 20px;
	display: none;
}
#footer {
	background-color: rgba(59, 89, 152, 0.9);
	color: white;
	padding: 5px 10px;
	margin-top: 25px;
}

.fa {
	margin-right: 20px;
    padding: 20px;
    font-size: 30px !important;
    width: 30px;
    text-align: center;
    text-decoration: none;
	border-radius: 50%;
}

.fa:hover {
    opacity: 1;
}
.fa-facebook {
	color: white;
	background: #3B5998;
}
.fa-linkedin {
	color: white;
	background: #007BB5;
}
.fa-github {
	color: white;
	background: black;
}