body {
  background-image: url("../images/mainQuad.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: rgb(19, 41, 75);
	font-size: 14px;
}
a, #email, #more {
	font-weight: 500;
	color: rgb(19, 41, 75);
}
/* #about, #code, #appointment, #education, #contact */
.head {
	font-weight: 500;
	font-size: 30px;
	text-align: center;
}
.proj, .company {
	font-weight: bold;
}
.more-proj {
	display: none;
}
.duration {
	float: right;
}
.dept {
	font-style: italic;
	text-decoration: underline;
	position: relative;
	display: inline-block;
}
.container {
	max-width: 850px;
	background-color: rgba(225, 225, 234, 0.8);
	border-radius: 15px;
	margin: 30px auto;
	padding: 15px 30px 5px 30px;
}
.location {
	margin-left: 10px;
	padding: 2px;
}
#footer {
	background-color: rgba(19, 41, 75, 0.6);
	color: rgb(225, 225, 234);
	padding: 0 20px;
}
.fab, .fas {
	font-size: 20px;
}
.TA + span, #email + span {
	visibility: hidden;
	background-color: rgb(225, 225, 234);
	border: 1px solid #131F33;
	padding: 1px 5px;
	margin-left: 5px;
	border-radius: 10px;
	z-index: 1;
	position: absolute;
}

#back-to-top {
  position: fixed;
  right: 10vw;
  bottom: 7vw;
  background-color: rgb(225, 225, 234);
  border: 1px solid rgba(19, 41, 75, 0.6);
  border-radius: 5px;
  display: none;
}
.back-to-top2 {
   position: absolute;
   left: 50%; 
   top: 50%; 
   transform: translate(-50%, -50%); 
   color: rgba(19, 41, 75, 0.6);
}